@font-face {
  font-family:Cheeseburga ;
  src: url("../public/Fonts/cheeseburga.ttf");
}

#root{
  font-size: 16px;
}

:root{
  --white: #fff;
  --lightyellow: #FFF6A1;
  --darkOrange: rgba(247, 105, 2, 0.82);
  --black: #353535; 
  --orange: #FFA800;
}

body {
  margin: 0;
  font-family: "Cheeseburga", "Montserrat", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125rem;
  font-weight: 400;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

.heading-white{
  color: var(--white);
  font-family: "Cheeseburga", "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 7.3rem;
  font-weight: 400;
  line-height: 110.997%;
  margin: 0;
}

.heading-orange{
  color: var(--orange);
  font-family: "Cheeseburga", "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 7.3rem;
  font-weight: 400;
  line-height: 110.997%;
  margin: 0;
}

/* PAGES AND SECTIONS  */

/* Landing Page Background */

.landing-bg-main{
  width: 100vw;
  height: 100vh;
  background-image:url("../public/Images/landing-page-bg.png");
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  position: fixed;
}

.landing-bg-heading {
  margin: 0;
  text-align: center;
  font-size: 6.7rem;
  -webkit-text-stroke: 3px #0F1B29; 

  background: linear-gradient(180deg, #FFF280 0%, #7EFF5E 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  filter:drop-shadow(12px 12px #0F1B29);
  letter-spacing: -3px;
}

.landing-bg-content{
  width: 100%;
  background: #181C27;
  padding: 1em 2.3em;
  box-sizing: border-box;
  margin-top: 20%;
}

.landing-bg-content >p{
  margin: 0;
  color: #FFF;
  text-align: center;
  font-size: 2.1rem;
}

.landing-bg-content .content-span{
  background: linear-gradient(180deg, #FFF280 40.34%, #FFA800 66.39%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Main Landing Page */


.landing-page-main{
        position: absolute;
        top: 90vh;
        background-color: var(--white);
        left: 50%; 
        transform: translateX(-50%);        
        width: 85%;
        height: 90vh;
        overflow-y: hidden;  
        border-radius: 1.5em 1.5em 0 0;
        overflow-x: hidden;
        padding-inline: 3rem;
}

.landing-page-main::-webkit-scrollbar{
  display: none;
}

.landing-page-main.scrollable {
  overflow-y: auto;
  overflow-x: hidden;

}

.landing-page-container{
  width: 100%;
}

.landing-page-container .top-rectangle{
  width: 7rem;
  height: 0.8rem;
  background: var(--lightyellow);
  margin: 1.2em auto;
  border-radius: 1.5em;
}

.landing-page-container .header{
  display: flex;
  align-items:flex-start;
  justify-content: space-between;
  height: 43.05938rem;

}

.landing-page-container .bg-triangle{
  width: 86.74263rem;
  height: 59.05938rem;
  transform: rotate(8deg);
  background: radial-gradient(44.22% 45.51% at 50.14% 67.33%, #FFF280 0%, #FFC700 100%);;
  position: absolute;
  top: -240px;
  left: -25px;
  z-index: -1;
}

.landing-page-container .header img{
  width: 55%;
  margin-left: -3rem;
}

.landing-page-content h1{
  color: var(--darkOrange);
  font-family: "Montserrat", "Kumbh Sans", Arial, Helvetica, sans-serif;
  font-size: 3.35rem;
  text-align: right;
  font-weight: 900;
  line-height: 106.73%; 
 margin-bottom: 0.4em;
}

.landing-page-content h1>span{
  margin-top: 0.2em;
  display: inline-block;
}

.landing-page-content p{
  color: var(--black);
  text-align: right;
  font-family: "Kumbh Sans", "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 700;
  line-height: 104.73%;
  margin: 0;
}

/* main landing page- section 2- all photos videos slider */

.all-photos-slider-tabs{
  display: flex;
  justify-content: center;
  column-gap: 2em;
  margin-bottom: 2em;
}

.all-photos-slider-tabs .slider-tab{
  margin: 0;
  color: var(--black);
  font-family: "Montserrat", "Kumbh Sans", Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 900;
  line-height: 104.73%; /* 2.09463rem */
  cursor: pointer;
}

.all-photos-slider-tabs .selected{
  color: var(--orange);
}

/* Project Vision Section */

.project-vision-main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 15em;
}

.project-vision-animals{
  width: 100%;
  position: relative;
  margin-top:2.5em;
}

.project-vision-animals-reflection{
  width: 100%;
  position: absolute;
  top: 640px;
  left: 10px;
  transform: rotate(-2deg);
  z-index: -1;
}

.project-vision-bg{
  position: absolute;
  top: 240px;
  left: -250px;
  z-index: -2;
  height: 82rem;
  width: 100rem;
}

.project-vision-main p{
  color: var(--black);
  font-family: "Kumbh Sans", "Monsterrat", Arial, Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 104.73%; /* 3.14188rem */
  text-align: center;
  margin-top: 2em;
}

/* Roadmap Section */

.roadmap-main{
  margin-top: 7em;

}

.roadmap-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.roadmap-container img{
  width: 55%;
}

.roadmap-content{
  color: #353535;
font-family: "Kumbh Sans", "Monsterrat", Arial, Helvetica, sans-serif;
font-size: 2rem;
font-style: normal;
font-weight: 700;
}

.roadmap-content span{
  display: inline-block;
  color: var(--orange);
}


/* COMPONENTS */

/* Slider */

.slider-main{
  width: 85vw;
  margin-bottom: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2em;
}

.slide-images-div{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 3em;
  width: 100%;
  margin-right: auto;
  overflow: hidden;
  scroll-behavior: smooth;
  transition: scroll-behavior 0.5s;
}

.slide-image{
  width: 30%;
  aspect-ratio: 3/4;
  object-fit: cover;
  background-color: var(--lightyellow);
  padding: 1em 1.5em;
  border-radius: 0.5em;
  border: 0.2em solid var(--lightyellow);

} 

.slide-image:hover{
  border: 0.2em solid var(--black);
}
.slider-next-btn, .slider-next-btn:focus{
  outline: none;
  border: none;
  cursor: pointer;
  background-color: var(--black);
  padding: 2em 1em;
  border-radius: 1.3em;
  filter: drop-shadow(4px 6px 6px var(--black));
}

