@font-face {
  font-family:Cheeseburga ;
  src: url("../public/Fonts/cheeseburga.ttf");
}

#root{
  font-size: 16px;
}

body {
  margin: 0;
  font-family: "Cheeseburga", 'Helvetica Neue',sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125rem;
  font-weight: 400;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

/* Landing Page Background */

.landing-bg-main{
  width: 100vw;
  height: 100vh;
  background-image:url("./Images/landing-page-bg.png");
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
}

.landing-bg-heading {
  margin: 0;
  text-align: center;
  font-size: 6.7rem;
  -webkit-text-stroke: 3px #0F1B29; 

  background: linear-gradient(180deg, #FFF280 0%, #7EFF5E 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  filter:drop-shadow(12px 12px #0F1B29);
  letter-spacing: -3px;
}

.landing-bg-content{
  width: 100%;
  background: #181C27;
  padding: 1em 2.3em;
  box-sizing: border-box;
  margin-top: 20%;
}

.landing-bg-content >p{
  margin: 0;
  color: #FFF;
  text-align: center;
  font-size: 2.1rem;
}

.landing-bg-content .content-span{
  background: linear-gradient(180deg, #FFF280 40.34%, #FFA800 66.39%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
